PROJECT 4

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("train.csv")

Display data

In [ ]:
data

getting info

In [ ]:
data.info()

statistical description

In [ ]:
data.describe()

Data filtering

In [ ]:
data.columns

In [ ]:
sum(data['Sex']=="male")

In [ ]:
sum(data['Survived']==1)

checking null values

In [ ]:
data.isnull().sum()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.heatmap(data.isnull())

drop the columns

In [ ]:
data.drop('Cabin', axis=1, inplace=True)
data

handle missing values

In [ ]:
data.columns

In [ ]:
data['Embarked'].mode()

filling missing values

In [ ]:
data['Embarked'].fillna("S", inplace=True)

handling missing values of age column

In [ ]:
data['Age'].fillna(data['Age'].mean() , inplace=True)

checking null values

In [ ]:
data.isnull().sum()

Categorical data encoding


for  sex and embarked columns
as infuture for machine learning these string values
cannot be undertood by them so we have to encode it.

check category of every column before encoding

In [ ]:
data['Sex'].unique()

In [ ]:
data['gender'] = data['Sex'].map({'male': 1, 'female' : 0})
data.head(3)

adding the newly added column in a specific place

In [ ]:
x = data['Sex'].map({'male': 1, 'female' : 0})

In [ ]:
data.insert(5,'Gender',x)
data

Encode for categories  more than two

like here we have 3 categories in embarked column

In [ ]:
data['Embarked'].unique()

we use get dummies for encoding more than two categories
it creates different columns equals to the number of categories
by default the new cloumn is in bool dtype
to change the dtype we give the argument dtype=int

In [ ]:
pd.get_dummies(data, columns=['Embarked'], dtype=int)

we can predict the 1 category by comparing the other two categories like in first row we see S & Q as 1 & 0 means the C will be 0
so we can remove one category as we can predict it by using other two categories

In [ ]:
encoded_data = pd.get_dummies(data, columns=['Embarked'], dtype=int, drop_first=True)

how many people survived and how many died

In [ ]:
data['Survived'].value_counts()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.barplot(data['Survived'].value_counts())

how many passengers were in each class

In [ ]:
data['Pclass'].value_counts()

In [ ]:
sns.barplot(data['Pclass'].value_counts())

number of male and female passengers

In [ ]:
data['Sex'].value_counts()

In [ ]:
sns.barplot(data['Sex'].value_counts())

using plt in age column because it is a numerical column
not a categorial column

In [ ]:
plt.hist(data['Age'])

barplot of countplot is used for categorial columns
histograms and box plot are used for continous variable
to show frequency

bivariate analysis

who has better chance of survival male or female ?

In [ ]:
data.columns

In [ ]:
sns.barplot(x='Sex', y='Survived', data=data)

which pclass has better chance of survival

In [ ]:
sns.barplot(x='Pclass', y='Survived', data=data)

feature engineering

to extract features from raw data via using data mining techniques

In [ ]:
data.columns

using the columns 'SibSp', 'Parch' we can know the size of a persons family

lets combine these two columnns

In [ ]:
data['family_size'] = data['SibSp'] + data['Parch']

In [ ]:
data