project 3
adult data csv

In [ ]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

load file

In [ ]:
adult_data = pd.read_csv('adult.csv')

In [ ]:
adult_data

view 10 rows of dataset

In [ ]:
adult_data.head(10)

view shape of dataset

In [ ]:
adult_data.shape # it is attribute no paranthesis

view overall statistical description of dataset

In [ ]:
adult_data.describe()

view info of dataset

In [ ]:
adult_data.info()

Fetching random samples of dataset (50%)

In [ ]:
adult_data.sample(frac=0.50) # new randoms in each run
adult_data.sample(frac=0.50, random_state=90) # fix sample in every run

checking null values in dataset

In [ ]:
adult_data.isnull().sum(axis=0) # axis=0 mean column wise

checking heatmap of null values

In [ ]:
sns.heatmap(adult_data.isnull())

performing data cleaning, removing '?' with NaN

In [ ]:
adult_data.isin(["?"]).sum() # checking "?" in the whole dataset

by drop na method we can drop "?"

In [ ]:
adult_data.columns

dropping "?" with np.nan in the dataset

In [ ]:
adult_data["workclass"] = adult_data["workclass"].replace("?", np.nan)
adult_data["occupation"] = adult_data["occupation"].replace("?", np.nan)
adult_data["native-country"] = adult_data["native-country"].replace("?", np.nan)

checking dataset value of "?"

In [ ]:
adult_data.isin(["?"]).sum() # checking "?" in the whole dataset

checking nan value

In [ ]:
adult_data.isnull().sum()

visualizing missing value(nan) in heatmap

In [ ]:
sns.heatmap(adult_data.isnull())

dropping all missing values

In [ ]:
missing_value_percentage = adult_data.isnull().sum()*100/len(adult_data)
missing_value_percentage

dropping missing rows

In [ ]:
adult_data.dropna(how="any", inplace=True)

check for duplicate data and drop them

In [ ]:
dup = adult_data.duplicated().any()
dup

In [ ]:
adult_data = adult_data.drop_duplicates()
adult_data.shape

In [ ]:
adult_data.columns

drop education num, capital gain, capital loss, column

In [ ]:
adult_data = adult_data.drop(['educational-num', 'capital-gain' ,'capital-loss'], axis=1)

In [ ]:
adult_data

univariate analysis

In [ ]:
adult_data["age"].describe()

what is the distribution of age column?

In [ ]:
adult_data['age'].hist()

find number of persons having age between 17 to 48 (inclusive)
using between method

In [ ]:
adult_data['age'].between(17,48).sum()

what is the distribution of workclass column

In [ ]:
plt.Figure(figsize=(10,10))
adult_data['workclass'].hist()

how many persons having bachelor and mastrs degree

In [ ]:
adult_data['education'].isin(["Bachelors", "Masters"]).sum()

bivariate analysis

In [ ]:
adult_data.columns

In [ ]:
sns.boxplot(x='income', y='age', data=adult_data)

replace salary values with <=50k and >50k with 0 and 1

In [ ]:
adult_data['income'].unique()

In [ ]:
adult_data['income'].value_counts()

In [ ]:
adult_data.replace(to_replace=['<=50K', '>50K'], value=[0,1], inplace=True)
adult_data

which workclass salary is getting highest salary

In [ ]:
adult_data.groupby("workclass")["income"].mean().sort_values(ascending=False)

who has better chance of getting salary more than 50k male or female

In [ ]:
adult_data.groupby("gender")["income"].mean().sort_values(ascending=False)

convert workclass datatype into catagory datatype

In [ ]:
adult_data = adult_data['workclass'].astype('category')
adult_data.info()